/*  -*-C-*- 
 *
 */
body {
 background-color: #000;
 background: url(/images/star_tile.gif);
 margin: 0;
 padding: 0;
}
body, table, tr, td, input {
 font: 12px Verdana;
 color: #128;
}
table {
 width: 95%;
}
div {
 margin: 6px;
 color: #128;
 padding: 3px;
 padding-left: 8px;
 padding-top: 8px;
}
div#body {
 margin: 46px;
 padding: 0;
 width: 768px;
 height: 600px;
}
div#nav {
 padding: 0;
 height: 40px;
 width: 740px;
 background-color: #128;
 margin-top: 18px;
 border: 3px solid #128;
}
div#main {
 width: 730px;
 border: 3px solid #128;
 background-color: #fff;
}
div#msg {
 margin: 6px;
 height: 2em;
 width: 92%;
 border: 1px solid #128;
}
img.nav {
 margin: 0;
 float: left;
}
ul.nav {
 margin: 0;
 margin-top: 8px;
 margin-left: 1em;
 padding: 1px;
 width: 642px;
 background-color: #128;
 border: 1px solid #a0a0ef;
 float: left;
 line-style: none;
 list-style: none;
}
li.nav {
 margin: 1px;
 margin-top: 0;
 margin-bottom: 0;
 padding: 2px;
 padding-left: 4px;
 width: 7em;
 background-color: #128;
 border: 1px solid #a0a0ef;
 float: left;
 line-style: none;
 list-style: none;
}
li.nav a, li.nav a.visited {
 color: #a0a0ef;
 text-decoration: none;
 margin: 0;
 padding: 0;
}
input {
 border: 1px solid #128;
 background-color: #fff;
 color: #128;
 padding: 3px;
}
p {
 margin-left: 12px;
}
.success {
 color: #182;
 font-weight: 900;
}
.failure {
 color: #812;
 font-weight: 900;
}
.required {
 color: #129;
 font-weight: 700;
}
.optional {
 color: #126;
 font-weight: 300;
}
a.link {
 text-decoration: none;
}
